body {
  margin: 0;
}
.nation-map {
  background: url(https://e0.pxfuel.com/wallpapers/438/282/desktop-wallpaper-india-map-india-map-in-2019-india-map-geography-map.jpg);
  width: 850px;
  height: 1015px;
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header,
.modal-footer {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 10px 0;
}

#closeModal {
  background-color: #f44336;
  color: white;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

#closeModal:hover {
  background-color: #da190b;
}
