.Ncapital {
  position: absolute;
  font-size: 10px;
}
.city {
  position: absolute;
  font-size: 9px;
}
.capital {
  position: absolute;
  font-size: 10px;
}
.new-delhi {
  top: 28.1%;
  left: 30.31%;
}
a {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.701);
  background: none;
  border: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.lucknow {
  top: 33.8%;
  left: 40.9%;
}
.Agra {
  top: 32.34%;
  left: 36.14%;
}
.varanasi {
  top: 38.17%;
  left: 52%;
}
.jaipur {
  top: 34.06%;
  left: 26.54%;
}
.ajmer {
  top: 35.54%;
  left: 25.7%;
}
.kolkata {
  top: 47.863%;
  left: 68%;
}

.satellite-layer {
  background: url(http://www.primap.com/MapCollection/en/Free/Map%20India%20Satellite%20+%20Borders%20887x1000.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #030575;
}
.geographical-layer {
  background: url(https://www.mapsofindia.com/maps/india/india-geographical.jpg?v:1.0);
  background-size: contain;
  background-repeat: no-repeat;
}
.soil-layer {
  background: url(https://www.mapsofindia.com/maps/schoolchildrens/major-soil-types-map.jpg);
  background-size: contain;
}
.climate-layer {
  background: url(https://www.mapsofindia.com/maps/india/climaticregions.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.nation-map {
  margin: 20px;
  background: url(https://www.mapsofindia.com/images2/india-map-2019.jpg);
  background-size: contain;
  width: 1000px;
  height: 1194px;
  position: relative;
}
.full-width-size-map {
  width: 1450px;
  height: 1732px;
}
.small-size-map {
  width: 750px;
  height: 896px;
}
.default-size-map {
  width: 1000px;
  height: 1194px;
}
